
.projects_button_black_bg {
margin-top: 20px;
border-color: #ffd60a !important;
z-index: 9999;
color: white !important;
}

.projects_button_black_bg:hover {
background-color: #ffd60a !important;
color: white !important;
}